<div class="row mt-4 mb-1">
    <!-- Campaign Image -->
    <div class="col-lg-8 col-md-12 mb-2">
        <div class="card p-0 border-0 shadow">
            <img [src]="campaign.image" class="card-img-top z-2 position-relative img-fluid rounded"
                alt="image not available"
                onerror="this.src='https://img.freepik.com/premium-vector/default-image-icon-vector-missing-picture-page-website-design-mobile-app-no-photo-available_87543-11093.jpg'">
            @if(deletable) {
            <div class="z-3 position-absolute text-light w-100">
                <div class="float-end p-3">
                    <button type="button" class="btn btn-danger" title="Delete this Campaign"
                        (click)="deleteCampaign()">
                        @if(deletionProcessState === STATES.LOADING) {
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        } @else {
                        <i class='bx bxs-trash'></i>
                        }

                    </button>
                </div>
            </div>
            }
        </div>
        <div class="progress my-1 shadow" style="height: 6px"
            [title]="'Raised ' + percentOfDonation + ' of target amount.'">
            <div class="progress-bar bg-success" [style.width]="percentOfDonation">
            </div>
        </div>
    </div>
    <!-- Campaign Content-->
    <div class="col-lg-4 col-md-12 d-flex flex-column justify-content-between mb-2">
        <!-- Title and Description -->
        <div class="row">
            <div class="col-12">
                <span class="fs-2 fw-bold text-dark">{{ campaign.title }}</span>
                <p class="text-secondary-emphasis px-1">{{ campaign.description }}</p>
            </div>
        </div>
        <!-- Details-->
        <div class="row">
            <div class="d-flex text-dark">
                <i class='bx bxs-user-circle mx-1 fs-3'></i>
                <span class="fs-5 me-1 fw-bold">Owner Address:</span><span class="fs-5">{{campaign.owner |
                    truncate:10:4}}</span>
            </div>
            <div class="d-flex justify-content-around">
                <div class="col p-1">
                    <div class="card bg-dark bg-opacity-50 text-light shadow">
                        <div class="card-body">
                            <h5 class="card-title">Donators</h5>
                            <span class="card-text fs-1 fw-bold me-1">{{campaign.donatorDonations?.length??0}}</span>
                        </div>
                    </div>
                </div>
                <div class="col p-1">
                    <div class="card bg-dark bg-opacity-50 text-light  shadow">
                        <div class="card-body">
                            <h5 class="card-title">Days Left</h5>
                            <span class="card-text fs-1 fw-bold me-1">{{ campaign.deadline }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="col p-1">
                    <div class="card bg-dark bg-opacity-50 text-light shadow">
                        <div class="d-flex">
                            <div class="card-body">
                                <h5 class="card-title">Donation</h5>
                                <span class="card-text fs-1 fw-bold me-1">{{ campaign.totalDonation | toEth
                                    }}</span><span>ETH</span>
                            </div>
                            <div class="card-body text-start">
                                <h5 class="card-title">Target</h5>
                                <span class="card-text fs-1 fw-bold me-1">{{ campaign.target | toEth
                                    }}</span><span>ETH</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row px-1">
    <div class="col-lg-4 order-lg-2">
        <div class="card my-1 shadow">
            <div class="card-body">
                <form [formGroup]="donationForm" (ngSubmit)="donate()">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label fw-bolder">Donate this Campaign</label>
                        <div class="input-group mb-3 ng-dark">
                            <input type="number" class="form-control" [min]="0" placeholder="1.12"
                                formControlName="amount" aria-label="Recipient's username"
                                aria-describedby="basic-addon2"
                                [ngClass]="{'is-invalid': isDonationSubmitted && f['amount'].errors}">
                            <span class="input-group-text" id="basic-addon2">ETH</span>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="submit"
                            [disabled]="donationProcessState === STATES.LOADING">
                            @if(donationProcessState === STATES.LOADING) {
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            }
                            Donate</button>
                        <div class="text-center text-secondary"><span>
                                Complete donation amount will be transferred directly to the
                                campaign owner's
                                wallet.</span></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8 order-lg-1">
        <ag-grid-angular class="my-1 shadow" style="height: 300px;" [rowData]="rowData" [columnDefs]="colDefs"
            [defaultColDef]="defaultColDef" [overlayNoRowsTemplate]="'No donation received to this campaign!'"
            (gridReady)="onGridReady($event)" />
    </div>
</div>