<img [src]="campaign.image" class="z-2 position-relative card-img-top img-fluid" alt="image not available"
    onerror="this.src='https://img.freepik.com/premium-vector/default-image-icon-vector-missing-picture-page-website-design-mobile-app-no-photo-available_87543-11093.jpg'"
    style="width: 100%; height: 100%;">
<div class="z-3 position-absolute text-light w-100">
    <div class="float-end p-3">
        <button type="button" class="btn btn-primary btn-sm view-campaign" (click)="selectCampaign()"
            title="View Campaign Details">
            <i class='bx bx-link-external'></i>
        </button>
    </div>
</div>
<div class="card-body">
    <div class="card-title d-flex align-item-center justify-content-between">
        <span class=" fs-5 fw-bold campaign-title">{{campaign.title}}</span>
        @if(displayStatusBadge) {
        <div>
            @if(campaign.totalDonation >= campaign.target) {
            <span class="badge text-bg-secondary">Completed</span>
            } @else {
            <span class="badge"
                [ngClass]="campaign.deadline > -1 ? 'text-bg-success' : 'text-bg-danger'">{{campaign.deadline
                > -1 ?
                'Active' : 'Expired'}}</span>
            }
        </div>
        }
    </div>
    <div class="card-text">
        <span class="description">{{campaign.description}}</span>
        <div class="d-flex justify-content-between">
            <div class="fund">
                <span class="fs-3 fw-bold text-secondary me-1">{{campaign.totalDonation | toEth }}</span>ETH
                <p>Raised of: <span class="fw-bold fs-6 text-secondary me-1 p-0">{{campaign.target | toEth}}</span>ETH
                </p>
            </div>
            <div class="deadline">
                <span class="fs-3 fw-bold text-secondary">{{campaign.deadline}}</span>
                <p class="mt-1">Days Left</p>
            </div>
        </div>
        <div class="owner d-flex align-item-center mt-2">
            <i class='bx bxs-user-circle me-1 fs-5'></i>
            <span class="me-2 fw-bold">Owner:</span>
            <span class="fs-6 text-secondary">{{campaign.owner | truncate:5:4}}</span>
            <i class='ms-1 bx cursor-p fs-5'
                [ngClass]="copiedAddressAtIndex !== campaignIndex ? 'bx-copy': 'bx-check text-success'"
                [title]="copiedAddressAtIndex !== campaignIndex ? 'copy': 'copied'"
                (click)="copyAddress(campaign.owner, campaignIndex)"></i>
        </div>
    </div>
</div>