<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-lg-6 col-md-12 align-self-center text-center">
            <img class="mt-5 working-lady-icon" src="assets/images/monitoring.png">
        </div>
        <div class="col-lg-6 col-md-12 pt-4">
            <div class="card shadow-lg">
                <div class="card-body mx-1">
                    <span class="card-title fw-bolder fs-3">Create a Campaign</span>
                    <form [formGroup]="campaignForm" (ngSubmit)="onSubmit()">
                        <div class="my-3">
                            <label for="exampleFormControlInput1" class="form-label fw-bolder">Title</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                formControlName="title" placeholder="Campaign Title"
                                [ngClass]="{'is-invalid': isCampaignFormSubmitted && f['title'].errors}">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label fw-bolder">Description</label>
                            <textarea class="form-control" formControlName="description"
                                id="exampleFormControlTextarea1" rows="2" placeholder="Campaign Description"
                                [ngClass]="{'is-invalid': isCampaignFormSubmitted && f['description'].errors}"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label fw-bolder">Target Amount</label>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" [min]="1" placeholder="1.12"
                                    formControlName="target" aria-label="Recipient's username"
                                    aria-describedby="basic-addon2"
                                    [ngClass]="{'is-invalid': isCampaignFormSubmitted && f['target'].errors}">
                                <span class="input-group-text" id="basic-addon2">ETH</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label fw-bolder">Target Date</label>
                            <input type="date" [min]="currentDate" class="form-control" formControlName="deadline"
                                id="exampleFormControlInput1" placeholder="10.5"
                                [ngClass]="{'is-invalid': isCampaignFormSubmitted && f['deadline'].errors}">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label fw-bolder">Campaign Image
                                URL</label>
                            <input type="text" class="form-control" formControlName="image"
                                id="exampleFormControlInput1" placeholder="https://something.com/image.png"
                                [ngClass]="{'is-invalid': isCampaignFormSubmitted && f['image'].errors}">
                        </div>
                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-success" type="submit" data-bs-placement="bottom"
                                data-bs-toggle="tooltip" data-bs-title="Submit Campaign Details"
                                [disabled]="campaignCreationState === STATES.LOADING">
                                @if(campaignCreationState === STATES.LOADING) {
                                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                }
                                Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid text-dark">
    <div class="row pt-5 text-center">
        <h1 class="fw-bolder">MARKET SPACE</h1>
    </div>
    @if(campaignsDataState === STATES.LOADING){
    <div class="row text-center my-5">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <span class="fs-5 fw-bolder text-secondary my-1">Loading Campaigns</span>
    </div>
    } @else if(campaignsDataState === STATES.FAILED) {
    <div class="row text-center my-5">
        <i class='bx bxs-error-circle failed-logo'></i>
        <span class="fs-5 fw-bolder text-secondary my-1">Failed to fetch Campaigns!</span>
    </div>
    }
    @else {
    <div class="row my-5">
        @for (campaign of campaignList; track $index) {
        <div class="card campaign-card col-xl-3 col-md-4 col-sm-12 shadow-lg" style="padding: 0px;">
            <img [src]="campaign.image" class="card-img-top img-fluid" alt="..." style="width: 100%; height: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{campaign.title}}</h5>
                <div class="card-text">
                    <span class="description">{{campaign.description}}</span>
                    <div class="d-flex justify-content-between">
                        <div class="fund">
                            <span class="fs-3 fw-bold text-secondary me-1">4.56</span>ETH
                            <p>Raised of: <span class="fw-bold fs-6 text-secondary me-1">{{campaign.target}}</span> ETH
                            </p>
                        </div>
                        <div class="deadline">
                            <span class="fs-3 fw-bold text-secondary">{{campaign.deadline}}</span>
                            <p>Days Left</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-item-center">
                        <div class="owner d-flex align-item-center mt-2">
                            <i class='bx bxs-user-circle me-1 fs-5'></i>
                            <span class="me-2 fw-bold">Owner:</span>
                            <span class="fs-6 text-secondary">{{campaign.owner | truncate:5:4}}</span>
                            <i class='ms-1 bx cursor-p fs-5'
                                [ngClass]="copiedAddressAtIndex !== $index ? 'bx-copy': 'bx-check text-success'"
                                [title]="copiedAddressAtIndex !== $index ? 'copy': 'copied'"
                                (click)="copyAddress(campaign.owner, $index)"></i>
                        </div>
                        <button type="button" class="btn btn-outline-success btn-sm" title="View Details"><i
                                class='bx bx-link-external'></i></button>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
    }
</div>